// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-login{
    width:500px;
	color:#fff;
	corsor:hover;
	margin-left:40px
}

.btn-signup{
	width:500px;
	margin-left:40px;
	color:#fff;
}